:root {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.circle {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--circle-color);
  border-radius: 50%;
}
