@use "../variables" as *;

:root {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.container {
  max-width: 64rem;
  padding: 0 2.4rem;
  margin: auto;
  margin-top: -10rem;

  @include mq(tablet) {
    margin-top: -15rem;
  }
}

.circle {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--circle-color);
  border-radius: 50%;

  @include mq(tablet) {
    width: 2.4rem;
    height: 2.4rem;
  }

  &:hover {
    background: linear-gradient(var(--bg-list), var(--bg-list)) padding-box,
      linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
    border: 1px solid transparent;
  }
}
