:root {
  --bg-image: url("/src/assets/images/bg-mobile-dark.jpg");
  --bg-color: #171823;
  --bg-list: #25273d;
  --shadow: rgba(0, 0, 0, 0.5);
  --label-color: #767992;
  --circle-color: #393a4b;
  --text-color: #c8cbe7;
  --border-bottom: #393a4b;
  --button-color: #5b5e7e;
}

[data-theme="light"] {
  --bg-image: url("/src/assets/images/bg-mobile-light.jpg");
  --bg-color: #fafafa;
  --bg-list: #ffffff;
  --shadow: #c2c3d680;
  --label-color: #9495a5;
  --circle-color: #e3e4f1;
  --text-color: #494c6b;
  --border-bottom: #e3e4f1;
  --button-color: #9495a5;
}
