// To setup Media Queries
@mixin mq($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
}

@mixin basetext-mobile {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

@mixin basetext-desktop {
  font-size: 1.8rem;
  line-height: 1.8rem;
}