.container {
  padding: 0 2.4rem;
  margin-top: -10rem;
}

// Design for the form
.form {
  max-width: 54rem;
  margin-bottom: 1.6rem;

  &-label {
    visibility: hidden;
  }

  .form-content {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.8rem;
    background-color: var(--bg-list);
    width: 100%;
    padding-left: 2rem;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px var(--shadow);
    width: 100%;

    &-input {
      &::placeholder,
      &:focus {
        color: var(--label-color);
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: -0.166667px;
      }
    }
  }
}

// Design for the list
.list {
  background-color: var(--bg-list);
  box-shadow: 0px 35px 50px -15px var(--shadow);
  border-radius: 5px;

  &-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1.2rem;
    height: 4.8rem;
    padding-left: 2rem;
    border-bottom: 1px solid var(--border-bottom);
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.166667px;

    &-cross {
      margin-left: auto;
      width: 18px;
      height: 18px;
      margin-right: 24px;

      img {
        pointer-events: none;
      }
    }
  }

  &-check {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;

    input {
      display: none;
    }
  }
}

li.taskDone {
  p {
    text-decoration: line-through;
    color: #d1d2da;
  }

  .circle {
    background: url("/src/assets/images/icon-check.svg"),
      linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.filter {
  padding: 0 2.4rem;
  color: var(--button-color);
  margin-top: 1.6rem;
  box-shadow: 0px 35px 50px -15px var(--shadow);
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.194444px;

  &-content {
    max-width: 54rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-list);
    height: 4.8rem;
    gap: 1.9rem;
    box-shadow: 0px 35px 50px -15px var(--shadow);
    border-radius: 5px;

    button:hover {
      color: #3a7cfd;
    }
  }
}

.action {
  background-color: var(--bg-list);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 35px 50px -15px var(--shadow);

  &-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.166667px;
    padding: 0 2rem;
    color: var(--button-color);
    height: 5rem;
  }

  &-h2 {
    cursor: pointer;
  }
}
