@use "../variables" as *;

// Design for the form
.form {
  max-width: 64rem;
  margin-bottom: 1.6rem;

  &-label {
    visibility: hidden;
  }

  .form-content {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.8rem;
    background-color: var(--bg-list);
    padding-left: 2rem;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px var(--shadow);

    @include mq(tablet) {
      height: 6.4rem;
      gap: 2.4rem;
    }

    &-input {
      width: 90%;
      height: 100%;

      &::placeholder,
      &:focus {
        color: var(--label-color);
        @include basetext-mobile;
        letter-spacing: -0.166667px;

        @include mq(tablet) {
          @include basetext-desktop;
          letter-spacing: -0.25px;
        }
      }
    }
  }
}

// Design for the list
.content {
  background-color: var(--bg-list);
  box-shadow: 0px 35px 50px -15px var(--shadow);
  border-radius: 5px;
}

.list {
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1.2rem;
    height: 4.8rem;
    padding-left: 2rem;
    border-bottom: 1px solid var(--border-bottom);
    color: var(--text-color);
    @include basetext-mobile;
    letter-spacing: -0.166667px;

    @include mq(tablet) {
      height: 6.4rem;
      gap: 2.4rem;
      @include basetext-desktop;
      letter-spacing: -0.25px;
    }

    &-cross {
      margin-left: auto;
      width: 18px;
      height: 18px;
      margin-right: 24px;

      img {
        pointer-events: none;
      }
    }
  }

  &-check {
    position: relative;
    width: 2rem;
    height: 2rem;

    input {
      display: none;
    }
  }
}

li.taskDone {
  p {
    text-decoration: line-through;
    color: var(--color-done);
  }

  .circle {
    background: url("/src/assets/images/icon-check.svg"),
      linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
}
@include mq(tablet) {
  li button.list-item-cross {
    display: none;
  }

  li:hover {
    button.list-item-cross {
      display: block;
    }

    p {
      cursor: pointer;
    }
  }
}

// Design for button (All / Active / Completed)
.action {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2rem 2rem 2rem;
  color: var(--button-color);
  position: relative;
  @include basetext-mobile;
  letter-spacing: -0.166667px;

  @include mq(tablet) {
    padding: 1.6rem 2.4rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  &-filter {
    position: absolute;
    top: 5.1em;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 700;
    padding: 1.5rem 0;
    height: 4.8rem;
    background-color: var(--bg-list);
    letter-spacing: -0.194444px;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px var(--shadow);

    button:hover {
      color: #3a7cfd;
    }

    @include mq(tablet) {
      position: initial;
      box-shadow: none;
      height: 0;
      padding: 0;
    }
  }
}
